%li
  %span.light Host:
  %strong #{@backend.host}
%li
  %span.light Port:
  %strong #{@backend.port}
%li
  %span.light Base:
  %strong #{@backend.base}
%li
  %span.light Admin name:
  %strong #{@backend.admin_name}
%li
  %span.light Admin password:
  %strong **********
%li
  %span.light Filter:
  %strong #{@backend.filter}
