.panel
  .panel-heading
    %h3 Backend #{@backend.name_string}
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Name:
        %strong
          = link_to @backend.name_string, backend_path(@backend)
      %ul.well-list
        %li
          %span.light Description:
          %strong
            = @backend.description || ''
        %li
          %span.light Email pattern:
          %strong
            = @backend.email_pattern
        %li
          %span.light Blocked:
          %strong
            = @backend.blocked
  = render 'backend'
