.row
  = form_for [:backend, @backend], url: { controller: 'backends', action: @action }, html: { class: 'form-horizontal fieldset-form' } do |f|
    .col-md-6
      %fieldset
  
      .form-group
        %span.light Name:
        = f.text_field :name, autocomplete: "off", class: 'form-control'
      .form-group
        %span.light Description:
        = f.text_area :description, autocomplete: "off", class: 'form-control'
      .form-group
        %span.light Email pattern:
        = f.text_field :email_pattern, autocomplete: "off", class: 'form-control'
      .form-group
        %span.light Blocked:
        = f.check_box :blocked
  
    .col-md-6
      %fieldset
        = render type_form(@backend.type), f: f

    .col-md-12.row
      .form-actions
        - if @backend.new_record?
          = f.submit 'Create', class: "btn btn-create"
          = link_to 'Cancel', admin_backends_path, class: "btn btn-cancel"
        - else
          = f.submit 'Save', class: "btn btn-save"
          = link_to 'Cancel', admin_backends_path, class: "btn btn-cancel"
