.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Name:
        %strong
          = @backend.name_string
      %ul.well-list
        %li
          %span.light Description:
          %strong
            = @backend.description || ''
        %li
          %span.light Email pattern:
          %strong
            = @backend.email_pattern
        %li
          %span.light Blocked:
          %strong
            = @backend.blocked
  = render 'backend'
